@model D_Einder_MVC.Models.MenuGerechten

@{
    ViewData["Title"] = "Create";
}

<div class="main_inlog_border_two">

<h4>MenuGerechten</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="GerechtenId" class="control-label"></label>
                <select asp-for="GerechtenId" class ="form-control" asp-items="ViewBag.GerechtenId"></select>
            </div>
            <div class="form-group">
                <label asp-for="MenuId" class="control-label"></label>
                <select asp-for="MenuId" class ="form-control" asp-items="ViewBag.MenuId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
