<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - D_Einder_MVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" crossorigin="anonymous" />


</head>
<body>
    <header>
        <br />
        <nav class="navbar  navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img class="logo" src="~/images/deinder.png" alt="Sample Photo" /></a>
                
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <br />
                <ul>

                <li class="nav-item">
                    <a class="nav-link border" asp-area="" asp-controller="Drinks" asp-action="Index2">D'Einder Drinkenkaart</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link  border " asp-area="" asp-controller="Menus" asp-action="Index2">D'Einder Menukaart</a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link border" asp-area="" asp-controller="Reserveringens" asp-action="Create">D'Einder Reserveer</a>
                </li>

                </ul>
                <partial name="_LoginPartialCustom" />

                <div class="navbar-collapse collapse">
                    <h1>ADMIN PAGINA</h1><br/>
                    <ul class="nav nav-tabs" role="tablist">

                        <li class="nav-item">
                            <a class="nav-link text-muted border-top" asp-area="" asp-controller="Orders" asp-action="Index">Orders</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-muted border-top" asp-area="" asp-controller="Menus" asp-action="Index">Menu</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-muted border-top" asp-area="" asp-controller="MenuSoorts" asp-action="Index">Menu Soort</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-muted border-top" asp-area="" asp-controller="MenuGerechtens" asp-action="Index">Menu Gerechten</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-muted border-top" asp-area="" asp-controller="Gerechtens" asp-action="Index">Gerechten</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-muted border-top" asp-area="" asp-controller="GerechtenIngredientens" asp-action="Index">Gerechten Ingredienten</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-muted border-top" asp-area="" asp-controller="Ingredientens" asp-action="Index">Ingrediënten</a>
                        </li>


                        <li> <a class="invinsible"></a></li>


                        <li class="nav-item">
                            <a class="nav-link text-muted border-top" asp-area="" asp-controller="DrinkBestellingens" asp-action="Index">Drinken toevoegen</a>
                        </li>


                        <li class="nav-item">
                            <a class="nav-link text-muted border-top" asp-area="" asp-controller="Drinks" asp-action="Index">Drinken</a>
                        </li>


                        <li class="nav-item">
                            <a class="nav-link text-muted border-top" asp-area="" asp-controller="Gebruiker" asp-action="Index">Gebruikerslijst</a>
                        </li>


                        <li> <a class="invinsible"></a></li>


                       
                        <li class="nav-item">
                            <a class="nav-link text-muted border-top" asp-area="" asp-controller="Reserveringens" asp-action="Index">Reserveringen Overzicht</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-muted border-top" asp-area="" asp-controller="Tafels" asp-action="Index">Tafel Overzicht</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-muted border-top" asp-area="" asp-controller="Orders" asp-action="TafelOverzicht">Financieél overzicht</a>
                        </li>

                    </ul>
                    <br />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - D_Einder_MVC - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
